.page-family {
	overflow: hidden;
	overflow-y: scroll;
	scroll-behavior: smooth;
	overflow-y: overlay;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 2rem 1.5rem;
	gap: 20px;
	height: 100%;

	.header {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 1rem;
	}

	.children-container {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}
}
